.navbar .dropdown-menu{
	background-color: rgba(0,0,0,0.7);

}

.dropdown-item:hover{
	background-color: rgba(0,0,0,0.7);
}

 .navbar .dropdown-menu a{
	color: white ! important;
} 

 /*.nav-item:hover{
	background-color: rgba(0,0,0,0.7);
}*/ 
 
 .navbar .navbar-nav .nav-item .nav-link{
 	color: white;
 }

 .navbar .navbar-nav .nav-item .nav-link:hover{
 	color: red;
 }